body {
    /* background-color: blue;  */

    background-image: linear-gradient(to right, #9F57B6, #7CD1D9, #7CD9BD);

}

header {
    font-family: 'Bitter', serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
    width: 700px;
    max-width: 350px;
    /*Le prossime due stringhe centrano il body al centro della pagina*/
    margin-left: auto;
    margin-right: auto;


}

h2 {
    font-size: 20px;
    max-width: 200px;

}

section {
    font-family: 'Bitter', serif;
    text-align: justify;
    width: 1500px;
    /*Le prossime due stringhe centrano il container*/
    margin-left: auto;
    margin-right: auto;
    /*
    Stoppa il testo a una larghezza settata
    max-width: 1000px;
    */
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    left: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
}

/* Links inside the navbar */
.navbar a {
    font-family: 'Bitter', serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbarLinks {
    /* background-color: rgb(255, 255, 255); */
    background-image: linear-gradient(to right, #9F57B6, #7CD1D9, #7CD9BD);
    /* background-color: #767676; */
    height: 50px;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Bitter', serif;
    padding-bottom: 20px;

}

section.intro {
    margin-top: 100px;
    display: flex;
    width: 1500px
}

.cardIntro {
    background-color: rgba(255, 254, 254, 0.842);
    border-radius: 20px;
    width: 700px;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 18px #888888;

}



/*-----------STANDARD INLINE BLOCK-----------*/

p.inlineText {
    width: auto;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.inlineGraph {

    width: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 30px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;

}

.singleGraph {

    padding-top: 50px;
    padding-bottom: 50px;
}

.doubleGraph {

    width: 710px;
}

section.card {
    background-color: rgb(255, 254, 254);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 18px #888888;
}

/*-----------STANDARD SINGLE LINE BLOCK-----------*/
p.singleLine {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px
}

/*
-----------VISIONE GLOBALE-----------
section.visioneGlobale {
    background-color: rgb(255, 254, 254);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 18px #888888;
}
*/

/*-----------SANITA'-----------*/
section.sanità {
    background-color: rgb(255, 254, 254);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 18px #888888;
}

div.graph_2D {
    width: 1500px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}



/*-----------ECONOMIA-----------*/
section.economia {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: justify;
}

div.graph_3A {
    width: 1500px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}