body {
    /* background-image: linear-gradient(to right, #9F57B6, #7CD1D9, #7CD9BD);  */
    background-image: linear-gradient(to right, #ae50cd, #4672b3, #46c985);
}

h2 {
    font-size: 20px;
    max-width: 200px;

}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Bitter', serif;
    padding-bottom: 20px;
    color: #ffffff;
}

header {
    font-family: 'Bitter', serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px #000000, 0 0 1px #000000;
    width: 700px;
    max-width: 350px;
    /*Le prossime due stringhe centrano il body al centro della pagina*/
    margin-left: auto;
    margin-right: auto;
}

section {
    font-family: 'Bitter', serif;
    text-align: justify;
    width: 90%;
    /*Le prossime due stringhe centrano il container*/
    margin-left: auto;
    margin-right: auto;
}

hr {
    height: 1px;
    width: 60%;
    border-width: 0;
    color: gray;
    background-color: rgba(255, 255, 255, 0.821);
    box-shadow: 0px 0px 5px #000000c3;
    margin-top: 100px;
    margin-bottom: 100px;
}

p.text {
    width: auto;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: 20px;
    margin-right: 20px; */
    color: #ffffff;
    background-color: #46c985;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column1 {
    float: left;
    width: 50%;
    height: 10%;
    background-color: #ffffff;
    padding-right: 2%;
}

.column2 {
    float: left;
    width: 50%;
    height: 200px;
    font-size: auto;
    color: white
}

.column3 {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #575757;
}

@media screen and (max-width: 1200px) {
    .column1 {
        width: 80%;
        height: 80%;
    }

    .column2 {
        width: 100%;
    }
}

.introleft {
    float: left;
    width: 40%;
    padding-left: 5%;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 10;
}

.introright {
    float: left;
    width: 60%;
}

.cardIntro {
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    /* top | right | bottom | left */
    padding: 20% 10% 20% 10%;
    box-shadow: 5px 10px 18px #00000041;
    margin-right: 50px;
}


/* -------------- NAV-BAR -------------- */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    left: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
}

/* Links inside the navbar */
.navbar a {
    font-family: 'Bitter', serif;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbarLinks {

    /* background-image: linear-gradient(to right, #9F57B6, #7CD1D9, #7CD9BD); */
    background-image: linear-gradient(to right, #ae50cd, #4672b3, #46c985);
    height: 50px;
}

/* ------------------------------------ */

/*---------------SLIDE BAR------------*/
.slidecontainer {
    width: 90%;
    position: relative;
    left: 4.5%;
    bottom: 110px;
    /*top: 850px;
    /* Width of the outside container */

}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

/*-----------------------------*/

/*------------DROP DOWN MENU------------*/
select {
    position: relative;
    left: 1%;
    bottom: 900px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Bitter", sans-serif;
    outline: 5;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(128, 128, 128);
    padding: 4px;
    border-radius: 9px;
    font-size: 30px;

}

/*---------------------------------*/

/*-------------- ANIMAZIONE SOTTLINEATURA TITOLO --------------*/
.hover-underline-animation {
    font-size: 30px;
    text-align: center;
    font-family: 'Bitter', serif;
    padding-bottom: 2px;
    display: inline-block;
    position: relative;
    color: #ffffff;

}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color:
        #5bbce9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*-------------------------------------------------*/


section.intro {
    margin-top: 100px;
    display: flex;
    width: 1500px
}

.cardIntro {
    /* background-color: rgba(255, 254, 254, 0.842); */
    background-color: rgba(56, 56, 56, 0.323);
    /* border-radius: 20px; */
    width: 700px;
    height: 800px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 18px #00000041;
}

/*-----------STANDARD INLINE BLOCK-----------*/

p.inlineText {
    width: auto;
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
}

.inlineGraph {

    width: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    height: 470px;
}

div.inlineGraph {

    background-color: rgb(255, 254, 254);
    /* background-color: rgba(255, 254, 254, 0.471); */
    border-radius: 20px;
    box-shadow: 5px 10px 18px #0000002e;
}

.doubleGraph {

    width: 710px;
}

/*----------------------------------------------*/


section.card {
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 20px;
    box-shadow: 5px 10px 18px #00000041;
    width: auto;
    height: auto;
    padding: 4%;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;

}

/*-------------------BOTTONI-------------------*/
button#world1 {
    transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    width: 60px;
    height: 50px;
    font-family: 'Bitter', serif;
    position: relative;
    border: 1px solid black;
    left: -650px;
    top: 10px;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;

}

button#world2 {
    transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    width: 60px;
    height: 50px;
    font-family: 'Bitter', serif;
    position: relative;
    border: 1px solid black;
    left: 90px;
    top: -40px;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    cursor: pointer;

}


/* EFFETTO MOUSEOVER*/
.button#world1:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* EFFETTO PRESSIONE*/
.button#world1:active {
    background-color: rgba(56, 56, 56, 0.323);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*------------------------------------------*/


/*-----------STANDARD SINGLE LINE BLOCK-----------*/
p.singleLine {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    color: #ffffff;
}

.singleGraph {

    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
}

/*--------------------------------------*/



/*
div.graph_2D {
    width: 1500px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}*/



/*-----------ECONOMIA-----------*/
section.economia {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: justify;
}

div.graph_3A {
    width: 1500px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}